
.header {
    display: flex;
    gap:30px;
    background-color: antiquewhite;
    padding: 10px;
    border-radius: 5px;
}
.head {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
}
.navegacao {
    display: flex;
    justify-content: space-around;
    padding: 15px;

    
}
.navegacao >li {
    list-style: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    
}
.banner {
    padding: 15px;
    text-align: center;
    
}
.card {
    display: flex;
    flex-direction: column;

    
}
.container {
    display: flex;
    align-content: center;
    justify-content: space-around;
}
.container * div  {
    
}
.card-nome {
    text-align: center;
    padding: 4px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: bolder;
}
.preco {
    text-align: center;
    padding: 4px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: bolder;
}
.footer{
    display: inline;
    padding: 30px;
    border: 0;
    text-align: center;
}
.button {
    background-color: orangered;
    border: 0;
    border-radius: 10px;
    padding: 5px;
    color: white;
    
}